##### IMPORTING LIBRARIES AND SETTING DISPLAY ROWS AT MAXIMUM

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

##### LOADING DATASET

In [2]:
df=pd.read_csv('D:\data science analytics project\Crazy Monkey\crazy_monkey.csv')

##### TAKING LOOK AT THE DATA

In [3]:
df.head()

,dummy,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,27288,3550739,0,44879,1000,1,34584,19,382,Accessories,Mobile Covers,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,38337,3550743,0,1627343,1000,1,61354,3,622,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,29144,3550745,0,1221355,1000,1,26898,4,456,Apparel,Bottomwear,Men,Pyjamas,-1,-1,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,16576,3550747,3550745,1221355,1000,1,41284,2,200,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,34189,3550749,3550745,1221355,1000,1,53238,2,570,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

In [4]:
df.shape

(41726, 21)

We have 21 columns and 41726 rows

In [5]:
df.columns

Index(['dummy', 'order_id', 'parent_id', 'user_id', 'price', 'quantity',
       'product_id', 'size_id', 'category_id', 'cat_type', 'subtype', 'gender',
       'subclass', 'neck', 'sleeve', 'material', 'product_type', 'prod_name',
       'created_at', 'city', 'state'],
      dtype='object')

### Checking each column

##### Checking for null values

In [6]:
df.isnull().sum()

dummy              0
order_id           0
parent_id          0
user_id            0
price              0
quantity           0
product_id         0
size_id            0
category_id        0
cat_type        1552
subtype         1552
gender          1552
subclass        1552
neck            1552
sleeve          1552
material        1552
product_type    1552
prod_name          0
created_at         0
city               0
state             25
dtype: int64

##### count of unique values in columns

Dummy

In [7]:
df.dummy.nunique()

41726

All values are unique.

Order id

In [8]:
df.order_id.nunique()

41726

All values are unique

Parent_id

In [9]:
df.parent_id.nunique()

9608

user_id

In [10]:
df.user_id.nunique()

22083

We have 22083 customers.

Price

In [11]:
df.price.nunique()

1

In [12]:
df.price.value_counts()

1000    41726
Name: price, dtype: int64

Each order has same price.

Quantity

In [13]:
df.quantity.nunique()

1

In [14]:
df.quantity.value_counts()

1    41726
Name: quantity, dtype: int64

No customer ordered more than 1 quantity.

product name

In [15]:
df.prod_name.nunique()

171

171 unique products are there.

Category type

In [16]:
df.cat_type.nunique()

2

In [17]:
df.cat_type.value_counts()

Apparel        33554
Accessories     6620
Name: cat_type, dtype: int64

Here we have two categories Apparel and Accessories.

Subtype(Subcategory)

In [18]:
df.subtype.nunique()

4

In [19]:
df.subtype.value_counts()

Topwear          23498
Bottomwear       10056
Mobile Covers     6605
Gift Cards          15
Name: subtype, dtype: int64

Here we have four subcategories.

Gender

In [20]:
df.gender.nunique()

3

In [21]:
df.gender.value_counts()

Men       24072
Women      9482
Unisex     6620
Name: gender, dtype: int64

In [22]:
df.subclass.nunique()

14

In [23]:
df.subclass.value_counts()

T-Shirts         18390
Mobile Covers     6605
Pyjamas           4065
Boxers            2805
Joggers           2569
Vests             2059
Sweatshirts       1576
Shorts             617
Zipper             487
Shirts             350
Crop               318
Tank Tops          309
Gift Cards          15
Bomber               9
Name: subclass, dtype: int64

In [24]:
df.product_type.nunique()

14

In [25]:
df.product_type.value_counts()

T-Shirts         18390
Mobile Covers     6605
Pyjamas           4065
Boxers            2805
Joggers           2569
Vests             2059
Sweatshirts       1576
Shorts             617
Zipper             487
Shirts             350
Crop               318
Tank Tops          309
Gift Cards          15
Bomber               9
Name: product_type, dtype: int64

Product type and subclass values are same, dropping product type column.

In [26]:
df=df.drop('product_type',axis=1)

##### City column cleaning

In [27]:
df.city.nunique()

993

In [28]:
df.city.unique()

array(['Mumbai', 'Ghaziabad', 'Hyderabad', 'Faridabad', 'New delhi',
       'Bangalore', 'Katni', 'South delhi', 'Darjiling', 'Central delhi',
       'East singhbhum', 'South west delhi', 'Lucknow', 'Gurgaon',
       'Thane', 'Abohar', 'Jalandhar', 'Nellore', 'Ludhiana',
       'East delhi', 'Vellore', 'Tiruvallur', 'Mahesana', 'Kolkata',
       'Aurangabad', 'Cuttack', 'Kanchipuram', 'Patna',
       'Gautam buddha nagar', 'Chennai', 'North delhi', 'Pune',
       'Ahmedabad', 'Jaipur', 'bhagalpur', 'Raigarh(mh)', 'Khorda',
       'Nizamabad', 'Bhubaneswar', 'Surat', 'Vadodara', 'Gulbarga',
       'East midnapore', 'Sonbhadra', 'DEHRADUN', 'chandrapur', 'Nagpur',
       'Dadra & nagar haveli', 'West delhi', 'Kolhapur', 'pune',
       'Udham singh nagar', 'North west delhi', 'North 24 parganas',
       'dombivli', 'Guntur', 'Udaipur', 'Chandigarh', 'Nagpuragpur',
       'Indore', 'Meerut', 'Tiruvannamalai', 'Jodhpur', 'Bhopal', 'Udupi',
       'Bellary', 'Gandhi nagar', 'Ranchi', 'Kamrup', 'Etah', 'Rajkot',
       'Goalpara', 'BANGALORE', 'Gurdaspur', 'Warangal', 'Kanpur nagar',
       'chennai ', 'Lagos', 'Navi Mumbai', 'K.v.rangareddy', 'Panchkula',
       'Howrah', 'Jabalpur', 'Mysore', 'South 24 parganas', 'Coimbatore',
       'Ajmer', 'Jammu', 'Bhavnagar', 'Karim nagar', 'visakhapatnam',
       'Jhansi', 'Thrissur', 'Kurukshetra', 'mumbai', 'Rewa',
       'Gachibowli', 'Dewas', 'Visakhapatnam', 'South goa', 'Krishna',
       'Srinagar', 'Parbhani', 'Wardha', 'Sonipat', 'silvassa', 'Mathura',
       'chennai', 'Shimla', 'hyderabad', 'Bulandshahr', 'HYDERABAD',
       'thane', 'Durg', 'Hyderabad ', 'Dwarka', 'Greater Noida',
       'Ambala City', 'Panipat', 'Ambala', 'anakapalle', 'Mira-Bhayander',
       'North goaPa', 'Mangalore', 'Kozhikode', 'Ahmed nagar', 'Dehradun',
       'Chandauli', 'Bankura', 'Shahjahanpur', 'Adilabad', 'Bengaluru',
       'Rohtak', 'Kollam', 'Sundergarh', 'Haridwar', 'Bhiwandi',
       'New Delhi', 'Hisar', 'Sirsa', 'Alappuzha', 'Dakshina kannada',
       'Tiruchirappalli', 'Agartala', 'Chittoor', 'Srikakulam', 'Belgaum',
       'Sambalpur', 'Anand', 'Jorhat', 'Aligarh', 'Solapur', 'Thane W',
       'Bhubaneshwar', 'KOLKATA', 'Thiruvananthapuram', 'Bardhaman',
       'North Delhi', 'Neemuch', 'West tripura', 'Bathinda', 'Rupnagar',
       'Agra', 'Sikar', 'Bokaro', 'Theni', 'Sangli', 'Kota', 'Solan',
       'Tirunelveli', 'Allahabad', 'Firozpur', 'Barabanki', 'banglore',
       'Jamnagar', 'Amalapuram', 'Delhi', 'Amritsa', '`bangalore',
       'new Delhi', 'Chittorgarh', 'kalyan', 'Varanasi', 'bangalore',
       'kolkata', 'Nashik', 'ujjain', 'Nalanda', 'Prakasam', 'Ganganagar',
       'Bharuch', 'Zirakpur', 'pondicherry', 'Chicago', 'Medak',
       'gorakhpur', 'Mohali', 'Patiala', 'Dharwad', 'Anuppur', 'Raigarh',
       'Sibsagar', 'Jamshedpur', 'Ratnagiri', 'Amritsar', 'Valsad',
       'Moradabad', 'Ernakulam', 'INDORE', 'porbandar', 'Hooghly',
       'Dubai', 'Goregaon', 'Amravati', 'bbsr', 'Raipur', 'Unnao',
       'KARAD', 'Gandhinagar', 'navi mumbai', 'Jaisalmer', 'Hoshiarpur',
       'Bagalkot', 'Dhanbad', 'Guna', 'Kanpur', 'virar', 'Bidar',
       'Puducherry', 'calicut', 'Bijapur (kar)', 'nagpur', 'Yavatmal',
       'Adoni', 'Jalpaiguri', 'guwahati', 'East godavari', 'Kurnool',
       'Patan', 'Ludhianal', 'gautam budha nagar', 'Ujjain', 'Ankleshvar',
       'North goa', 'Satna', 'Sindhudurg', 'Dharmsala', 'lucknow',
       'Tumkur', 'East khasi hills', 'Navsari', 'Dibrugarhib', 'Bikaner',
       'Bhandara', 'MANIPAL', 'Junagadh', 'Washim', 'Sagar', 'WARDHA',
       'Puri', 'East delhI', 'Ahmedabadah', 'ahemedabad', 'PUNE',
       'Guwahati', 'Ratlam', 'Latur', 'Alwar', 'Mohalli', 'Dindigul',
       'phagwara', 'Bilaspur (cgh)', 'Dibrugarh', 'delhi', 'Karaikal',
       'Gangavathi', 'Chickmagalur', 'medchal', 'Madhubani', 'bareilly',
       'Gwalior', 'Vizianagaram', 'bijapur', 'vijayawada', 'jhansi',
       'Yavatmalat', 'secunderabad', 'Hubli', 'Salem', 'Kalyan',
       'Mahabub nagar', 'vizag', 'Greater noida', 'Satara', 'Koppal',
       'Cachar', 'BHUBANESHWAR', 'warangal', 'JAIPUR', 'GUWAHATI',
       'Tenali', 'Khammam', 'Kottayam', 'Diu', 'Noida', 'West godavari',
       'East siang', 'Sriganganagar', 'West midnapore', 'Kangra',
       'Guruvayur', 'Faizabad', 'Saharanpur', 'Punee', 'Sangrur',
       'rampuraphul', 'GADARPUR', 'Bangalore North', 'Chakan',
       'Porbandar', 'Manipal', 'Delhi/ncr', 'Virudhunagar',
       'Muzaffarnagar', 'Bhiwani', 'Seoni', 'Chitradurga', 'noida',
       'Gandhidham', 'RohtakRohtak', 'Muzaffarpur', 'begusarai', 'Dhar',
       'Sonepat', 'Murshidabad', 'Bhilwara', 'East sikkim', 'Gorakhpur',
       'Siliguri', 'Khandwa', 'bhubsneswar', 'MUMBAI', 'Jalgaon',
       'utnoor (M)', 'Lohardaga', 'Palakkad', 'Eluru',
       'Bokaro steel city', 'Pondicherry', 'Mira Road', 'Champaign',
       'Cuddalore', 'Kachchh', 'Kanpur dehat', 'Edappally',
       'Uttara kannada', 'ROORKEE', 'Nainital', 'Jhalawar', 'belgaum',
       'Hazaribag', 'Mirzapur', 'Kaalol', 'South delhI', 'Dumka', 'Angul',
       'ranchi', 'GHAZIABAD', 'Nadiad', 'Cooch behar', 'Dhuri', 'Dhule',
       'Krishnagiri', 'Mysore.', 'Bikane', 'Bareilly', 'Navi mumbai',
       'Fatehgarh sahib', 'Pathanamthitta', 'south delhi', 'Raigarh (MH)',
       'Jharsuguda', 'Kharagpur', 'PunePune', 'Shivpuri', 'Daman',
       'Gautam Buddha Nagar', 'West delhihi', 'North dinajpur',
       'new york', 'Pilibhit', 'Moga', 'Udham singh nagarpur',
       'Chandigarhcha', 'Dungarpur', 'Bangalore rural', 'Dehradunadun',
       'Gabdhidham', 'Vadodara,', 'khanna', 'Puruliya', 'Malda',
       'coimbatore', 'jaipur', 'Punene', 'Jamshedpur ', 'mira road east',
       'Jalna', 'Gaziabad', 'Karnal', 'Jalor', 'Kallakurichi',
       'Ankleshwar', 'Barmer', 'Vijayawada', 'Jhajjar', 'Gaya',
       'Kasargod', 'Tuticorin', 'Darbhanga', 'offenbach am mian',
       'Hanumangarh', 'Kolkatta', 'manipal', 'Erode', 'Vapi',
       'Kishanganj', 'Kalahandi', 'North goaGoa', 'Karur', 'Barnala',
       'Kolar', 'patna', 'Sheohar', 'Janjgir-champa', 'Panjim', 'Dhubri',
       'Hamirpur(hp)', 'DELHI', 'solan', 'Nawanshahr', 'new delhi',
       'Akola', 'raipur', 'Rudrapur', 'gurgaon', 'Rajpipla',
       'East champaran', 'Begusarai', 'Wayanad', 'Rourkela', 'Papum pare',
       'Kanyakumari', 'bharatpur', 'Chandrapur', 'Gunturur',
       'Ras Al Khaimah', 'parel mumbai', 'Rajahmundry East godavari',
       'Ambala Cantt', 'Thanjavur', 'NAVI MUMBAI', 'Puneune', 'Vizag',
       'Dahod', 'Ahmednagar', 'Kheda', 'Barwani', 'Sonitpur', 'Burhanpur',
       'Kanchipuram District', 'Sabarkantha', 'PUne', 'Rajsamand',
       'Tezpur', 'Cochin', 'Batala', 'khaitan', 'ludhiana', 'Tirupur',
       'Coimbatore ', 'MumbaiMumbai', 'Sri Vijay nagar', 'Mahendragarh',
       'Airoli', 'West singhbhum', 'agra', 'Davangere', 'Jagatsinghapur',
       'gandhidham', 'Anandand', 'Dimapur', 'Saran', 'Bhagalpur',
       'Raipurpurw', 'Ganjam', 'Madurai', 'BENGALURU', 'Delhi, Gurgaon',
       'Gandhinager', 'kharar', 'jind', 'Hathras', 'Dhampur', 'Nanded',
       'New  Delhi', 'ANGUL', 'latur', 'Gautam Buddha nagar', 'Bilaspur',
       'gauhati', 'Hoshangabad', 'Balangir', 'Kheri', 'Gadag', 'Banswara',
       'Jhujhunu', 'h', 'Ananthapur', 'vishakapatnam', 'Samastipur',
       'jammu', 'FirozpurAbohar', 'NEW DELHI', 'Hassan', 'Villupuram',
       'Sawai madhopur', 'Sivaganga', 'KADAPA', 'Mandya', 'Etawah',
       'Sarita Vihar', 'Aizawl', 'bharuch', '24 pgs north', 'Cuddapah',
       'Kapurthala', 'BAGALKOT', 'Mumbaiai', 'sangareddy', 'Kannur',
       'Neemrana', 'bhubaneshwar', 'Seraikela-kharsawan', 'Thiruvalla',
       'Phagwara', 'South Delhi', 'NAGPUR', 'Datia', 'Gandevi', 'Deoria',
       'kottayam', 'South west delhI', 'Punepune', 'Pauri garhwal',
       'bilaspur', 'Farrukhabad', 'ghaziabad', 'Calangute', 'Goa',
       'Ramgarh', 'Tiruppur', 'Varanasinasi', 'Bangalore Rural', 'Ballia',
       'Kendujhar', ' ', 'Tikamgarh', 'Ahmedabadbad', 'hubli', 'agartala',
       'Kaithal', 'South andaman', 'Jhalandar', 'Balaghat', 'Dwarka Mor',
       'Telangana', 'Bahadurgarh', 'MANGALORE', 'DURG', 'Yamuna nagar',
       'THANE', 'Gautam buddha nagar, noida', 'HARYANA', 'West delhI',
       'Rajbandh', 'Virar (East)', 'bhubaneswar', 'hosur', 'Dombivli',
       'Shimoga', 'rewari', 'valsad', 'Roorkee', 'Malakkara', 'Nandurbar',
       'dehradun', 'Golaghat', 'indore', 'panjim', 'Chhindwara',
       'karimnagar', 'navi Mumbai', 'nizamabad', 'Mangaluru',
       'Vadodarado', 'Bastar', 'bhopal', 'jalandhar', 'Mapusa',
       'Anantapur', 'perth', 'thane - west', 'Raichur', 'Durgapur',
       'Rayagada', 'Tinsukia', 'Nagercoil', 'Kakinada', 'Dilshuknagar',
       'Nadia', 'Imphal', 'MumbaI', 'Noida ', 'Beawar', 'Sirohi',
       'Lonavla', 'LucknowLucknow', 'Muktsar', 'Dombivali', 'DHENKANAL',
       'thumkur', 'Mumbai ', 'Trivandrum', 'surat', 'karwar', 'Alibaug',
       'Bhubneshwar', 'goa', 'Birbhum', 'Narsinghpur', 'Grater noida',
       'Kondapur ,hyderabad', 'NaviMumbai', 'Egmore Chennai', 'Bijnor',
       'Ulhasnagar', 'South west Delhi', 'ARCOT', 'Panch Mahals',
       'Panch mahals', 'London', 'Junagadhjunagadh', 'Haridwar, roorkee',
       'Gachibowli, Hyderabad', 'CHENNAI', 'Jagdalpur', 'Nairobi',
       'Kidwai Nagar', 'Sholapur', 'North and middle andaman',
       'Gautam buddha nagara', 'Rajko', 'Purnia', 'rohini', 'NOIDA',
       'hyderbad', 'Sitapur', 'Panvel', 'Banka', 'Khordabhubaneswar',
       'West Delhi', 'Azamgarh', 'Bhojpur', 'Valparai', 'varanasi',
       'margao', 'Jind', 'Keshod', 'hunagund', 'UDUPI, MANIPAL', 'NASHIK',
       'Gandhidham-Kutch', 'zirakpur', 'edapally', 'Raipurpur',
       'Ichalkaranji', 'Chenani', 'East singhbum', 'hyd', 'Dhenkanal',
       'Gir Somnath', 'Thane West', 'Karimganj', 'Katihar', 'bengaluru',
       'bangalore ', 'Koderma', 'mathura', 'Dombivli Mumbai', 'VERNA',
       'Mumbaiu', 'panchkula', 'bansthali', 'ulhasnagar',
       'New Ashok Nagar', 'Sonapur', 'URAVAKONDA', 'sonipat', 'Dholpur',
       'Bassi pathana', 'Pravara nagar', 'Gurugram', 'Diglipur',
       'Hawaii National Park', 'Miraroad', 'Gondia', 'Dahanu', 'Tirupati',
       'Kadapa', 'MATHURA', 'Mandi adampur', 'Nalgonda', 'ahmedabad',
       'Nasik', 'Maninagar', 'Bharatpur', 'Rewari', 'Vasai', 'Nagaon',
       'Mandi', 'Saharsa', 'lonavala', 'Rampur', 'anjuna', 'PORVORIM',
       'ERNAKULAM', 'Silchar', 'Raiganj', 'Surendranagar', 'gandhinagar',
       'samblpur', 'Bhilai', 'Jabalpuralpur', 'Gopalganj', 'Betul',
       'Banaskantha', 'Nagapattinam', 'Candolim', 'HOWRAH', 'Shillong',
       'anand', 'Adipur Kutch', 'Nilgiris', 'kalka', 'Duliajan',
       'Banglore', 'ChennaiChennai', 'Gurgaona', 'BEHROR', 'shillong',
       'Peterborough', 'pasighat', 'CHANDIGARH', 'DUBAI', 'Moradabadd',
       'Vidisha', 'himatnagar', 'Surendra nagar', 'Samana', 'Bongaigaon',
       'Mandi gobindgarh', 'Ghazipur', 'HisarHisar', 'Ambernath',
       'Sahibganj', 'morbi', 'Jaunpur', 'East khasi hill', 'Queenstown',
       'West Tripura', 'SILIGURI', 'morningside', 'Anand ', 'VAPI',
       'East Singhbhum', 'kondapur', 'Surguja', 'kodaikanal', 'kochi',
       'Secunderabad', 'ChandrapuR', 'Amritsarsar', 'Kochi', 'daman',
       'Amreli', 'Surathkal', 'Kanchipuramur', 'Ghansoli', 'Karad',
       'Manamai, Tirukazhukundram Taluk', 'BHATKAL', 'Shajapur',
       'Baleswar', 'gurgoan', 'Dakshina Kannada', 'Tonk', 'Phillaur',
       'tntyg8nu', 'South goa C?URCHOREM', 'BareillyBareilly',
       'Callcatta', 'Udgir', 'Central Delhi', 'South West Delhi',
       'GURGAON', 'khandwa', 'Asansol', 'panvel', 'navsari', 'Rabale',
       'RAnchi', 'Haldwani', 'Andheri west  ,Mumbai', 'Churu', 'Nitte',
       'Tumakuru', 'Chennai(kancheepuram district)', 'Dahodod',
       'ahemdabad', 'Hosur', 'Una', 'K.V.Rangareddy', 'SECUNDERABAD',
       'ooty', 'CUTTACK', 'Chennai, shollinganallur', 'Sholinganallur',
       'Namakkal', 'Ahmedabadh', 'Rajgarh', 'Ahmadabad', 'Chikkaballapur',
       'RAJKOT', 'Sanjan', 'Buldhana', 'Andheri(E), Mumbai', 'Manglore',
       'Haryana', 'udupi', 'yamuna nagar', 'Dharmapuri', 'Pratapgarh',
       'siddipet', 'Nangloi', 'dinhata', 'Rohtas', 'Rajnandgaon',
       'mehsana', 'Irvine', 'LUCKNOW', 'berhampur', 'VaranasiVaranasi',
       'saswad', 'Verna', 'greater noida', 'Chhatarpur', 'Harrison',
       'Perambalur', 'Calcutta', 'East Sikkim', 'Vaishali', 'palakkad',
       'ajmer', 'rajapalayam', 'Wes', 'Lower Parel west, Mumbai',
       'Dombivali East', 'Manjeri', 'Canacona', 'North West Delhi',
       'Jajapur', 'jodhpur', 'South goaVasco-Da-Gama', 'Kodagu',
       'Fatehabad', 'Gacchibowli', 'Ankleshwer', 'FARRUKHABAD', 'Ongole',
       'Gurgaon, Haryana', 'Cacha', 'Zuarinagar, Goa', 'Udhampur',
       'bhavnagar', 'Nerul', 'Warangala', 'Modinagar', 'tirupur',
       'Koraput', 'Ambala cantt', 'Balasore', 'kanpur',
       'North 24 pargana', 'SATARA', 'West delhii', 'UDAIPUR', 'erode',
       'Malappuram', 'Ahmdabad', 'rk puram', 'North Goa', 'KANPUR',
       'DOMBIVALI', 'Kharghar', 'Berhampur', 'Nallasopara', 'vadodara',
       'Vasco', 'JAMSHEDPUR', 'Lonavala', 'Sidhi', 'Pakur',
       'Raigarh (navi mumbai)', 'TRIPUNITHURA', 'Jaipurur', 'Mahasamund',
       'Bangalorea', 'vellore', 'Jeddah', 'tumakuru', 'Kalol',
       'Bilaspur (cgh)Bilaspur', 'KALPAKKAM', 'BELGAUM', 'Bargarh',
       'Sindhanoor', 'Than', 'CHANDIGARGH', 'Madiwala, Bangalore',
       'forest hills', 'Gurgaong', 'Ahmednagar ', 'madhya pradesh',
       'BHUBANESWAR', 'Medak District', 'Karimnagar', 'West nimar',
       'Dhamtari', 'nerul', 'Rahata', 'rewa', 'Patialaa', 'lunawada',
       'tezpur', 'Boisar', 'Calcutta, West Bengal.INDIA', 'kuala lumpur',
       'Dehradun ', 'East delhiDelhi', 'Jetpur', 'Margao',
       'Mumbai [mulundwest]', 'surendranagar', 'Shirdi', 'Trichy',
       'Bhayander', 'Koperkhairne', 'Guwhati', 'Manora', 'Lucknownow',
       'East Delhi', 'Bengaluru ', 'Sehore', 'kurukshetra', 'GUNTAKAL',
       'SURAT', 'Ragiad', 'Hamirpur', 'Phaltan', 'aurangabad', 'KAMRUP',
       'kalyani', 'Yamunanagar', 'Newdelhi', 'GAYA', 'MADIPAKKAM', 'S',
       'ROURKELA', 'Vadodar', 'Kokrajhar', 'Sultanpur', 'Malkapur'],
      dtype=object)

after taking look at the city column we can see that we have some city name in upper and lower case both so we are changing case of each city to lower case.

In [29]:
df['city'] = df['city'].str.lower()

Delhi and Mumbai cities have multiple instances like south , east , west etc. So replacing them with city name

In [30]:
df.loc[df['city'].str.contains("mumbai"),'city'] = 'mumbai'
df.loc[df['city'].str.contains("delhi"),'city'] = 'delhi'
df.loc[df['city'].str.contains("west bengal"),'city'] = 'kolkata'
df.loc[df['city'].str.contains("calcutta"),'city'] = 'kolkata'
df.loc[df['city'].str.contains("callcatta"),'city'] = 'kolkata'
df.loc[df['city'].str.contains("kolk"),'city'] = 'kolkata'
df.loc[df['city'].str.contains("varan"),'city'] = 'varanasi'
df.loc[df['city'].str.contains("ahmeda"),'city'] = 'ahmedabad'
df.loc[df['city'].str.contains("thiruvananthapuram"),'city'] = 'thiruvanthapuram'
df.loc[df['city'].str.contains("chennai"),'city'] = 'chennai'
df.loc[df['city'].str.contains("bilaspur"),'city'] = 'bilaspur'
df.loc[df['city'].str.contains("lucknow"),'city'] = 'lucknow'
df.loc[df['city'].str.contains("than"),'city'] = 'thane'
df.loc[df['city'].str.contains("hyd"),'city'] = 'hyderabad'
df.loc[df['city'].str.contains("rajko"),'city'] = 'rajkot'
df.loc[df['city'].str.contains("chenani"),'city'] = 'chennai'
df.loc[df['city'].str.contains("goa"),'city'] = 'goa'
df.loc[df['city'].str.contains("nagpur"),'city'] = 'nagpur'
df.loc[df['city'].str.contains("bhubaneswar"),'city'] = 'bhubaneswar'

Removing special characters from strings

In [31]:
df['city'] = df['city'].astype(str).str.extract(r'([A-Za-z]+(?: [A-Za-z]+)*)')

Single letters in city columns does not makes sense so replacing them with 'others'

In [32]:
df.loc[df['city'].str.len()==1, 'city'] = 'others'

In [33]:
df['city'] = df['city'].fillna('others')

New city count

In [34]:
df['city'].nunique()

701

In [35]:
df['city'].unique()

array(['mumbai', 'ghaziabad', 'hyderabad', 'faridabad', 'delhi',
       'bangalore', 'katni', 'darjiling', 'east singhbhum', 'lucknow',
       'gurgaon', 'thane', 'abohar', 'jalandhar', 'nellore', 'ludhiana',
       'vellore', 'tiruvallur', 'mahesana', 'kolkata', 'aurangabad',
       'cuttack', 'kanchipuram', 'patna', 'gautam buddha nagar',
       'chennai', 'pune', 'ahmedabad', 'jaipur', 'bhagalpur', 'raigarh',
       'khorda', 'nizamabad', 'bhubaneswar', 'surat', 'vadodara',
       'gulbarga', 'east midnapore', 'sonbhadra', 'dehradun',
       'chandrapur', 'nagpur', 'dadra', 'kolhapur', 'udham singh nagar',
       'north', 'dombivli', 'guntur', 'udaipur', 'chandigarh', 'indore',
       'meerut', 'tiruvannamalai', 'jodhpur', 'bhopal', 'udupi',
       'bellary', 'gandhi nagar', 'ranchi', 'kamrup', 'etah', 'rajkot',
       'goa', 'gurdaspur', 'warangal', 'kanpur nagar', 'lagos', 'others',
       'panchkula', 'howrah', 'jabalpur', 'mysore', 'south', 'coimbatore',
       'ajmer', 'jammu', 'bhavnagar', 'karim nagar', 'visakhapatnam',
       'jhansi', 'thrissur', 'kurukshetra', 'rewa', 'gachibowli', 'dewas',
       'krishna', 'srinagar', 'parbhani', 'wardha', 'sonipat', 'silvassa',
       'mathura', 'shimla', 'bulandshahr', 'durg', 'dwarka',
       'greater noida', 'ambala city', 'panipat', 'ambala', 'anakapalle',
       'mira', 'mangalore', 'kozhikode', 'ahmed nagar', 'chandauli',
       'bankura', 'shahjahanpur', 'adilabad', 'bengaluru', 'rohtak',
       'kollam', 'sundergarh', 'haridwar', 'bhiwandi', 'hisar', 'sirsa',
       'alappuzha', 'dakshina kannada', 'tiruchirappalli', 'agartala',
       'chittoor', 'srikakulam', 'belgaum', 'sambalpur', 'anand',
       'jorhat', 'aligarh', 'solapur', 'bhubaneshwar', 'thiruvanthapuram',
       'bardhaman', 'neemuch', 'west tripura', 'bathinda', 'rupnagar',
       'agra', 'sikar', 'bokaro', 'theni', 'sangli', 'kota', 'solan',
       'tirunelveli', 'allahabad', 'firozpur', 'barabanki', 'banglore',
       'jamnagar', 'amalapuram', 'amritsa', 'chittorgarh', 'kalyan',
       'varanasi', 'nashik', 'ujjain', 'nalanda', 'prakasam',
       'ganganagar', 'bharuch', 'zirakpur', 'pondicherry', 'chicago',
       'medak', 'gorakhpur', 'mohali', 'patiala', 'dharwad', 'anuppur',
       'sibsagar', 'jamshedpur', 'ratnagiri', 'amritsar', 'valsad',
       'moradabad', 'ernakulam', 'porbandar', 'hooghly', 'dubai',
       'goregaon', 'amravati', 'bbsr', 'raipur', 'unnao', 'karad',
       'gandhinagar', 'jaisalmer', 'hoshiarpur', 'bagalkot', 'dhanbad',
       'guna', 'kanpur', 'virar', 'bidar', 'puducherry', 'calicut',
       'bijapur', 'yavatmal', 'adoni', 'jalpaiguri', 'guwahati',
       'east godavari', 'kurnool', 'patan', 'ludhianal',
       'gautam budha nagar', 'ankleshvar', 'satna', 'sindhudurg',
       'dharmsala', 'tumkur', 'east khasi hills', 'navsari',
       'dibrugarhib', 'bikaner', 'bhandara', 'manipal', 'junagadh',
       'washim', 'sagar', 'puri', 'ahemedabad', 'ratlam', 'latur',
       'alwar', 'mohalli', 'dindigul', 'phagwara', 'bilaspur',
       'dibrugarh', 'karaikal', 'gangavathi', 'chickmagalur', 'medchal',
       'madhubani', 'bareilly', 'gwalior', 'vizianagaram', 'vijayawada',
       'yavatmalat', 'secunderabad', 'hubli', 'salem', 'mahabub nagar',
       'vizag', 'satara', 'koppal', 'cachar', 'tenali', 'khammam',
       'kottayam', 'diu', 'noida', 'west godavari', 'east siang',
       'sriganganagar', 'west midnapore', 'kangra', 'guruvayur',
       'faizabad', 'saharanpur', 'punee', 'sangrur', 'rampuraphul',
       'gadarpur', 'bangalore north', 'chakan', 'virudhunagar',
       'muzaffarnagar', 'bhiwani', 'seoni', 'chitradurga', 'gandhidham',
       'rohtakrohtak', 'muzaffarpur', 'begusarai', 'dhar', 'sonepat',
       'murshidabad', 'bhilwara', 'east sikkim', 'siliguri', 'khandwa',
       'bhubsneswar', 'jalgaon', 'utnoor', 'lohardaga', 'palakkad',
       'eluru', 'bokaro steel city', 'mira road', 'champaign',
       'cuddalore', 'kachchh', 'kanpur dehat', 'edappally',
       'uttara kannada', 'roorkee', 'nainital', 'jhalawar', 'hazaribag',
       'mirzapur', 'kaalol', 'dumka', 'angul', 'nadiad', 'cooch behar',
       'dhuri', 'dhule', 'krishnagiri', 'bikane', 'fatehgarh sahib',
       'jharsuguda', 'kharagpur', 'punepune', 'shivpuri', 'daman',
       'north dinajpur', 'new york', 'pilibhit', 'moga',
       'udham singh nagarpur', 'chandigarhcha', 'dungarpur',
       'bangalore rural', 'dehradunadun', 'gabdhidham', 'khanna',
       'puruliya', 'malda', 'punene', 'mira road east', 'jalna',
       'gaziabad', 'karnal', 'jalor', 'kallakurichi', 'ankleshwar',
       'barmer', 'jhajjar', 'gaya', 'kasargod', 'tuticorin', 'darbhanga',
       'offenbach am mian', 'hanumangarh', 'erode', 'vapi', 'kishanganj',
       'kalahandi', 'karur', 'barnala', 'kolar', 'sheohar', 'janjgir',
       'panjim', 'dhubri', 'hamirpur', 'nawanshahr', 'akola', 'rudrapur',
       'rajpipla', 'east champaran', 'wayanad', 'rourkela', 'papum pare',
       'kanyakumari', 'bharatpur', 'gunturur', 'ras al khaimah',
       'rajahmundry east godavari', 'ambala cantt', 'puneune', 'dahod',
       'ahmednagar', 'kheda', 'barwani', 'sonitpur', 'burhanpur',
       'kanchipuram district', 'sabarkantha', 'rajsamand', 'tezpur',
       'cochin', 'batala', 'khaitan', 'tirupur', 'sri vijay nagar',
       'mahendragarh', 'airoli', 'west singhbhum', 'davangere',
       'jagatsinghapur', 'anandand', 'dimapur', 'saran', 'raipurpurw',
       'ganjam', 'madurai', 'gandhinager', 'kharar', 'jind', 'hathras',
       'dhampur', 'nanded', 'gauhati', 'hoshangabad', 'balangir', 'kheri',
       'gadag', 'banswara', 'jhujhunu', 'ananthapur', 'vishakapatnam',
       'samastipur', 'firozpurabohar', 'hassan', 'villupuram',
       'sawai madhopur', 'sivaganga', 'kadapa', 'mandya', 'etawah',
       'sarita vihar', 'aizawl', 'pgs north', 'cuddapah', 'kapurthala',
       'sangareddy', 'kannur', 'neemrana', 'seraikela', 'thiruvalla',
       'datia', 'gandevi', 'deoria', 'pauri garhwal', 'farrukhabad',
       'calangute', 'ramgarh', 'tiruppur', 'ballia', 'kendujhar',
       'tikamgarh', 'kaithal', 'south andaman', 'jhalandar', 'balaghat',
       'dwarka mor', 'telangana', 'bahadurgarh', 'yamuna nagar',
       'haryana', 'rajbandh', 'hosur', 'shimoga', 'rewari', 'malakkara',
       'nandurbar', 'golaghat', 'chhindwara', 'karimnagar', 'mangaluru',
       'vadodarado', 'bastar', 'mapusa', 'anantapur', 'perth', 'raichur',
       'durgapur', 'rayagada', 'tinsukia', 'nagercoil', 'kakinada',
       'dilshuknagar', 'nadia', 'imphal', 'beawar', 'sirohi', 'lonavla',
       'muktsar', 'dombivali', 'dhenkanal', 'thumkur', 'trivandrum',
       'karwar', 'alibaug', 'bhubneshwar', 'birbhum', 'narsinghpur',
       'grater noida', 'bijnor', 'ulhasnagar', 'arcot', 'panch mahals',
       'london', 'junagadhjunagadh', 'jagdalpur', 'nairobi',
       'kidwai nagar', 'sholapur', 'north and middle andaman',
       'gautam buddha nagara', 'purnia', 'rohini', 'sitapur', 'panvel',
       'banka', 'azamgarh', 'bhojpur', 'valparai', 'margao', 'keshod',
       'hunagund', 'edapally', 'raipurpur', 'ichalkaranji',
       'east singhbum', 'gir somnath', 'karimganj', 'katihar', 'koderma',
       'verna', 'bansthali', 'new ashok nagar', 'sonapur', 'uravakonda',
       'dholpur', 'pravara nagar', 'gurugram', 'diglipur',
       'hawaii national park', 'miraroad', 'gondia', 'dahanu', 'tirupati',
       'mandi adampur', 'nalgonda', 'nasik', 'maninagar', 'vasai',
       'nagaon', 'mandi', 'saharsa', 'lonavala', 'rampur', 'anjuna',
       'porvorim', 'silchar', 'raiganj', 'surendranagar', 'samblpur',
       'bhilai', 'jabalpuralpur', 'gopalganj', 'betul', 'banaskantha',
       'nagapattinam', 'candolim', 'shillong', 'adipur kutch', 'nilgiris',
       'kalka', 'duliajan', 'gurgaona', 'behror', 'peterborough',
       'pasighat', 'moradabadd', 'vidisha', 'himatnagar',
       'surendra nagar', 'samana', 'bongaigaon', 'mandi gobindgarh',
       'ghazipur', 'hisarhisar', 'ambernath', 'sahibganj', 'morbi',
       'jaunpur', 'east khasi hill', 'queenstown', 'morningside',
       'kondapur', 'surguja', 'kodaikanal', 'kochi', 'amritsarsar',
       'amreli', 'surathkal', 'kanchipuramur', 'ghansoli', 'manamai',
       'bhatkal', 'shajapur', 'baleswar', 'tonk', 'phillaur', 'tntyg',
       'bareillybareilly', 'udgir', 'asansol', 'rabale', 'haldwani',
       'churu', 'nitte', 'tumakuru', 'dahodod', 'ahemdabad', 'una',
       'ooty', 'sholinganallur', 'namakkal', 'rajgarh', 'ahmadabad',
       'chikkaballapur', 'sanjan', 'buldhana', 'manglore', 'dharmapuri',
       'pratapgarh', 'siddipet', 'nangloi', 'dinhata', 'rohtas',
       'rajnandgaon', 'mehsana', 'irvine', 'berhampur', 'saswad',
       'chhatarpur', 'harrison', 'perambalur', 'vaishali', 'rajapalayam',
       'wes', 'dombivali east', 'manjeri', 'canacona', 'jajapur',
       'kodagu', 'fatehabad', 'gacchibowli', 'ankleshwer', 'ongole',
       'cacha', 'udhampur', 'nerul', 'warangala', 'modinagar', 'koraput',
       'balasore', 'malappuram', 'ahmdabad', 'rk puram', 'kharghar',
       'nallasopara', 'vasco', 'sidhi', 'pakur', 'tripunithura',
       'jaipurur', 'mahasamund', 'bangalorea', 'jeddah', 'kalol',
       'kalpakkam', 'bargarh', 'sindhanoor', 'chandigargh', 'madiwala',
       'forest hills', 'gurgaong', 'madhya pradesh', 'medak district',
       'west nimar', 'dhamtari', 'rahata', 'patialaa', 'lunawada',
       'boisar', 'kuala lumpur', 'jetpur', 'shirdi', 'trichy',
       'bhayander', 'koperkhairne', 'guwhati', 'manora', 'sehore',
       'guntakal', 'ragiad', 'phaltan', 'kalyani', 'yamunanagar',
       'madipakkam', 'vadodar', 'kokrajhar', 'sultanpur', 'malkapur'],
      dtype=object)

In [36]:
df.shape

(41726, 20)

###### State column cleaning

In [37]:
df['state'].nunique()

259

In [38]:
df['state'] = df['state'].str.upper()

In [39]:
df.state.value_counts()

MAHARASHTRA                                12124
KARNATAKA                                   4710
DELHI                                       4117
GUJARAT                                     2548
ANDHRA PRADESH                              2469
UTTAR PRADESH                               2468
WEST BENGAL                                 1870
HARYANA                                     1818
TAMIL NADU                                  1803
RAJASTHAN                                   1210
MADHYA PRADESH                              1164
ORISSA                                       702
PUNJAB                                       634
BIHAR                                        396
CHHATTISGARH                                 393
ASSAM                                        393
JHARKHAND                                    369
KERALA                                       327
UTTARAKHAND                                  313
TELANGANA                                    298
GOA                                          262
CHANDIGARH                                   222
JAMMU AND KASHMIR                            106
HIMACHAL PRADESH                              72
TRIPURA                                       50
ODISHA                                        40
NEW DELHI                                     40
PUDUCHERRY                                    36
MAHARASTRA                                    35
TAMILNADU                                     28
MEGHALAYA                                     28
DAMAN AND DIU                                 26
TELENGANA                                     25
INDIA                                         24
MH                                            23
KA                                            20
ANDAMAN AND NICOBAR ISLANDS                   20
UP                                            20
DADRA AND NAGAR HAVELI                        19
SIKKIM                                        18
DUBAI                                         18
GUJRAT                                        17
DL                                            15
UTTRAKHAND                                    11
MUMBAI                                        10
SDFADFA                                       10
WA                                            10
MAH?R?SHTRA                                   10
KARNATAKA                                      9
KARN?TAKA                                      9
ARUNACHAL PRADESH                              9
---                                            8
SOUTH AUSTRALIA                                8
MAHARASHTRA                                    8
NEWJERSEY                                      8
TELANGANA                                      7
CHATTISGARH                                    7
NEAR SBH BANK                                  6
UTTER PRADESH                                  6
TN                                             6
UTTAR PRADESH                                  6
HARY?NA                                        6
UTTARPRADESH                                   6
ILLINOIS                                       6
JEDDAH                                         5
MP                                             5
MAHARSHTRA                                     5
KARNATKA                                       5
AN                                             5
ORRISA                                         5
KENYA                                          4
C.G.                                           4
MAHRASHTRA                                     4
LAGOS                                          4
GUJARATI                                       4
M.P.                                           4
STATE                                          4
UTTARANCHAL                                    4
NCT-DELHI                                      4
OUTSIDE UNITED STATES                          3
KARNATAKA > BANGALORE URBAN                    3
MAHARASHTRA\r\n                                3
U P                                            3
TAMILNADU                                      3
HAWAII                                         3
IL                                             3
MAHARASHTATRA                                  3
SELECT ONE                                     3
NEW YORK                                       3
PLEASE SELECT...                               3
NAVI MUMBAI                                    3
HARYANAA                                       3
J&K                                            3
ONTARIO                                        3
LONDON                                         3
MAHARASTRA                                     3
MAHARSTRA                                      3
ANDHRAPRADESH                                  3
M                                              3
-                                              3
MIZORAM                                        3
KARNTAKA                                       3
DAMAN                                          3
MAHARASHTA                                     2
KARANATAKA                                     2
HYDERABAD\r\n                                  2
NRAJASTHAN                                     2
TYPE A CHOICE BELOW ...                        2
MASHAY PRADESH                                 2
-SELECT-                                       2
TAMIL NACDU                                    2
GJ                                             2
GUJARAT\r\n                                    2
PLEASE SELECT REGION, STATE OR PROVINCE        2
SHARDASHRAM SCHOOL                             2
KARNATAK                                       2
ASHIRWAD CHOWK                                 2
GUJARAT, INDIA                                 2
HR                                             2
MAHARAHSHTRA                                   2
TAMIL NADUT                                    2
TAMIL N?DU                                     2
FARWANIYA                                      2
HIM?CHAL PRADESH                               2
NAGALAND                                       2
SELECT STATE                                   2
U.P                                            2
NONE                                           2
JABEL ALI                                      2
SELANGOR                                       2
AP                                             2
UT                                             2
MAH                                            2
RJ                                             2
MANIPUR                                        2
PONDICHERRY                                    2
ENGLAND                                        2
HARAYANA                                       2
LUCKNOW                                        2
VISHAKAPTNAM                                   1
4614192                                        1
UTTAR PRADRSH                                  1
KARNATAKAKARNATAKA                             1
SELECT YOUR STATE OR PROVINCE                  1
CHANDIGARGH                                    1
TERRITORY NOT LISTED                           1
UTTARAKHAND                                    1
ODHISA                                         1
NEAR SUJATA GARH, BAKRAUR                      1
GUJAR?T                                        1
CALIFORNIA                                     1
ODISSA                                         1
PONDICHERY                                     1
MAHARASHTRAR                                   1
EAST SINGHBHUM                                 1
CHHATTISHGARH                                  1
4422275314                                     1
KARNATAKA INDIA                                1
                                               1
UTTAR PRADESH PRADESH                          1
MARNAMIKATTA CIRCLE                            1
CHATTISHGARH                                   1
ODISHA                                         1
KARMATAKA                                      1
MAHARASTHRA                                    1
S.R.NAGAR                                      1
JABALPUR                                       1
TELEGANA                                       1
IN                                             1
UTTARAKHANDARAKHAND                            1
QUEENSLAND                                     1
NT8NNN8B                                       1
NR- SAKINAKA METRO STATION                     1
SINGAPORE                                      1
Name: state, dtype: int64

In [40]:
df['state'] = df['state'].fillna('OTHERS')

In [41]:
df.shape

(41726, 20)

In [42]:
df.loc[df['state'].str.contains("AP"),'state'] = 'ANDHRA PRADESH'
df.loc[df['state'].str.contains("ARUNA"),'state'] = 'ARUNACHAL PRADESH'
df.loc[df['state'].str.contains("HIM"),'state'] = 'HIMACHAL PRADESH'
df.loc[df['state'].str.contains("GJ"),'state'] = 'GUJRAT'
df.loc[df['state'].str.contains("GUJ"),'state'] = 'GUJRAT'
df.loc[df['state'].str.contains("MH"),'state'] = 'MAHARASHTRA'
df.loc[df['state'].str.contains("MAHA"),'state'] = 'MAHARASHTRA'
df.loc[df['state'].str.contains("MAH?"),'state'] = 'MAHARASHTRA'
df.loc[df['state'].str.contains("MUMBAI"),'state'] = 'MAHARASHTRA'
df.loc[df['state'].str.contains("KA"),'state'] = 'KERELA'
df.loc[df['state'].str.contains("UP"),'state'] = 'UTTAR PRADESH'
df.loc[df['state'].str.contains("UTTE"),'state'] = 'UTTAR PRADESH'
df.loc[df['state'].str.contains("UTTAR P"),'state'] = 'UTTAR PRADESH'
df.loc[df['state'].str.contains("UTTARP"),'state'] = 'UTTAR PRADESH'
df.loc[df['state'].str.contains("U.P"),'state'] = 'UTTAR PRADESH'
df.loc[df['state'].str.contains("UK"),'state'] = 'UTTARAKHAND'
df.loc[df['state'].str.contains("UTTARA"),'state'] = 'UTTARAKHAND'
df.loc[df['state'].str.contains("UTTRAK"),'state'] = 'UTTARAKHAND'
df.loc[df['state'].str.contains("RJ"),'state'] = 'RAJASTHAN'
df.loc[df['state'].str.contains("RAJ"),'state'] = 'RAJASTHAN'
df.loc[df['state'].str.contains("HR"),'state'] = 'HARYANA'
df.loc[df['state'].str.contains("HARY"),'state'] = 'HARYANA'
df.loc[df['state'].str.contains("YANA"),'state'] = 'HARYANA'
df.loc[df['state'].str.contains("DL"),'state'] = 'DELHI'
df.loc[df['state'].str.contains("DEL"),'state'] = 'DELHI'
df.loc[df['state'].str.contains("TEL"),'state'] = 'TELENGANA'
df.loc[df['state'].str.contains("TN"),'state'] = 'TAMIL NADU'
df.loc[df['state'].str.contains("TAMIL"),'state'] = 'TAMIL NADU'
df.loc[df['state'].str.contains("DL"),'state'] = 'DELHI'
df.loc[df['state'].str.contains("DELHI"),'state'] = 'DELHI'
df.loc[df['state'].str.contains("OD"),'state'] = 'ODISHA'
df.loc[df['state'].str.contains("ORR"),'state'] = 'ODISHA'
df.loc[df['state'].str.contains("ORISSA"),'state'] = 'ODISHA'
df.loc[df['state'].str.contains("DAMAN"),'state'] = 'DAMAN AND DIU'
df.loc[df['state'].str.contains("MP"),'state'] = 'MADHYA PRADESH'
df.loc[df['state'].str.contains("M.P."),'state'] = 'MADHYA PRADESH'
df.loc[df['state'].str.contains("CHATT"),'state'] = 'CHATTISGARH'
df.loc[df['state'].str.contains("CHHATT"),'state'] = 'CHATTISGARH'
df.loc[df['state'].str.contains("C.G."),'state'] = 'CHATTISGARH'
df.loc[df['state'].str.contains("CHANDI"),'state'] = 'CHANDIGARH'
df.loc[df['state'].str.contains("PONDICHERRY"),'state'] = 'PUDUCHERRY'
df.loc[df['state'].str.contains("PONDICHERY"),'state'] = 'PUDUCHERRY'
df.loc[df['state'].str.contains("KARN"),'state'] = 'KARNATAKA'
df.loc[df['state'].str.contains("J&K"),'state'] = 'JAMMU AND KASHMIR'
df.loc[df['state'].str.contains("S.R.NAGAR"),'state'] = 'JAMMU AND KASHMIR'
df.loc[df['state'].str.contains("HYDERABAD\r\n"),'state'] = 'HYDERABAD'

In [43]:
df.state.unique()

array(['MAHARASHTRA', 'UTTAR PRADESH', 'HARYANA', 'DELHI', 'KERELA',
       'WEST BENGAL', 'JHARKHAND', 'PUNJAB', 'TAMIL NADU', 'GUJRAT',
       'ODISHA', 'BIHAR', 'RAJASTHAN', 'UTTARAKHAND',
       'DADRA AND NAGAR HAVELI', 'CHANDIGARH', 'ASSAM', 'LAGOS',
       'TELENGANA', 'KERALA', 'GOA', 'CHATTISGARH', 'TRIPURA',
       'MADHYA PRADESH', 'PUDUCHERRY', 'ILLINOIS', 'DUBAI', 'OTHERS',
       'MEGHALAYA', 'STATE', 'ARUNACHAL PRADESH', 'INDIA', 'SIKKIM',
       'NEAR SBH BANK', 'UT', 'IL', 'SDFADFA', 'SELECT ONE',
       'EAST SINGHBHUM', 'OUTSIDE UNITED STATES', '4422275314',
       'FARWANIYA', 'NAGALAND', 'M', 'MIZORAM', 'SELECT STATE', 'NONE',
       ' ', 'JAMMU AND KASHMIR', 'PLEASE SELECT...', 'WA', 'LUCKNOW',
       '---', 'ENGLAND', 'JABALPUR', 'JABEL ALI', 'KENYA',
       'TYPE A CHOICE BELOW ...', 'IN', 'HAWAII', 'ONTARIO',
       'SOUTH AUSTRALIA', 'QUEENSLAND', 'LONDON', 'HYDERABAD',
       'ASHIRWAD CHOWK', 'NT8NNN8B', '-', 'CALIFORNIA', 'NEWJERSEY',
       'SELECT YOUR STATE OR PROVINCE', '-SELECT-',
       'PLEASE SELECT REGION, STATE OR PROVINCE', 'JEDDAH', 'NEW YORK',
       'AN', 'SELANGOR', 'TERRITORY NOT LISTED', '4614192',
       'NEAR SUJATA GARH, BAKRAUR'], dtype=object)

In [44]:
df['state'] = df['state'].astype(str).str.extract(r'([A-Za-z]+(?: [A-Za-z]+)*)')

In [45]:
df['state'] = df['state'].fillna('OTHERS')

In [46]:
df.loc[df['state'].str.len()==2, 'city'] = 'OTHERS'
df.loc[df['state'].str.len()==1, 'city'] = 'OTHERS'

In [47]:
df.loc[df['state'].str.contains("SELECT"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("TYPE"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("NONE"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("STATE"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("TERRITORY NOT LISTED"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("NEAR SUJATA GARH"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("ASHIRWAD CHOWK"),'state'] = 'OTHERS'
df.loc[df['state'].str.contains("LUCKNOW"),'state'] = 'UTTAR PRADESH'
df.loc[df['state'].str.contains("EAST SINGHBHUM"),'state'] = 'JHARKHAND'
df.loc[df['state'].str.contains("HYDERABAD"),'state'] = 'TELENGANA'
df.loc[df['state'].str.contains("JABALPUR"),'state'] = 'MADHYA PRADESH'

In [48]:
df.state.nunique()

58

In [49]:
df.state.value_counts()

MAHARASHTRA               13535
KERELA                     4872
HARYANA                    4309
DELHI                      4176
GUJRAT                     2576
UTTAR PRADESH              2515
WEST BENGAL                1870
TAMIL NADU                 1846
RAJASTHAN                  1214
ODISHA                      750
PUNJAB                      634
CHATTISGARH                 406
BIHAR                       396
ASSAM                       393
JHARKHAND                   370
TELENGANA                   333
UTTARAKHAND                 330
KERALA                      327
GOA                         262
CHANDIGARH                  223
OTHERS                       67
TRIPURA                      50
PUDUCHERRY                   39
MEGHALAYA                    28
INDIA                        24
DADRA AND NAGAR HAVELI       19
SIKKIM                       18
DUBAI                        18
WA                           10
MADHYA PRADESH               10
SDFADFA                      10
ARUNACHAL PRADESH             9
SOUTH AUSTRALIA               8
NEWJERSEY                     8
NEAR SBH BANK                 6
ILLINOIS                      6
AN                            5
JEDDAH                        5
JAMMU AND KASHMIR             4
LAGOS                         4
KENYA                         4
IL                            3
NEW YORK                      3
M                             3
MIZORAM                       3
LONDON                        3
HAWAII                        3
ONTARIO                       3
SELANGOR                      2
UT                            2
JABEL ALI                     2
ENGLAND                       2
NAGALAND                      2
FARWANIYA                     2
QUEENSLAND                    1
NT                            1
CALIFORNIA                    1
IN                            1
Name: state, dtype: int64

#### NOW LOOKING AT NULL VALUES AT COLUMNS

In [50]:
df.isnull().sum()

dummy             0
order_id          0
parent_id         0
user_id           0
price             0
quantity          0
product_id        0
size_id           0
category_id       0
cat_type       1552
subtype        1552
gender         1552
subclass       1552
neck           1552
sleeve         1552
material       1552
prod_name         0
created_at        0
city              0
state             0
dtype: int64

In [51]:
# dropping neck,sleeve,material columns (not important features)
df.drop(['neck', 'sleeve','material'], axis=1, inplace=True)

###### cat_type , subtype  and,  gender columns can ve imputed using prod_name column

In every product name Men/women/No gender/Unisex (gender), Apparel/Accessories we can classify by looking at the product and similarly we can determine weather article is topwear,bottom wear or any other subtype by taking a look at product name.

##### cat_type column

In [52]:
# there are only two products in accessories Mobile covers and gift cards 
df.loc[df['prod_name'].str.contains("Mobile Covers"),'cat_type'] = 'Accessories' 
df.loc[df['prod_name'].str.contains("Gift Cards"),'cat_type'] = 'Accessories'
df.cat_type.fillna('Apparel',inplace=True)

In [53]:
print(df.cat_type.value_counts())
print(df.cat_type.value_counts().sum())

Apparel        35041
Accessories     6685
Name: cat_type, dtype: int64
41726

##### subtype column

In [54]:
df.loc[df['prod_name'].str.contains("Shirts"),'subtype'] = 'Topwear'
df.loc[df['prod_name'].str.contains("Vest"),'subtype'] = 'Topwear'
df.loc[df['prod_name'].str.contains("Hoodies"),'subtype'] = 'Topwear'
df.loc[df['prod_name'].str.contains("Tanks"),'subtype'] = 'Topwear'
df.loc[df['prod_name'].str.contains("Tank"),'subtype'] = 'Topwear'
df.loc[df['prod_name'].str.contains("T-Shirt"),'subtype'] = 'Topwear'
df.loc[df['prod_name'].str.contains("Mobile Covers"),'subtype'] = 'Mobile Covers'
df.loc[df['prod_name'].str.contains("Leggings"),'subtype'] = 'Bottomwear'

In [55]:
print(df.subtype.value_counts())
print(df.subtype.value_counts().sum())

Topwear          24967
Bottomwear       10074
Mobile Covers     6670
Gift Cards          15
Name: subtype, dtype: int64
41726

###### Gender column

In [56]:
df.loc[df['prod_name'].str.contains("Men"),'gender'] = 'Men'
df.loc[df['prod_name'].str.contains("Women"),'gender'] = 'Women'
df.loc[df['prod_name'].str.contains("Leggings"),'gender'] = 'Women'
df.loc[df['prod_name'].str.contains("Mobile Covers"),'gender'] = 'Unisex'

In [57]:
print(df.gender.value_counts())
print(df.gender.value_counts().sum())

Men       25460
Women      9581
Unisex     6685
Name: gender, dtype: int64
41726

###### subclass column

In [58]:
df.loc[df['prod_name'].str.contains("Pyjamas"),'subclass'] = 'Pyjamas'
df.loc[df['prod_name'].str.contains("Leggings"),'subclass'] = 'Pyjamas'
df.loc[df['prod_name'].str.contains("Boxers"),'subclass'] = 'Boxers'
df.loc[df['prod_name'].str.contains("Zipper"),'subclass'] = 'Zipper'
df.loc[df['prod_name'].str.contains("Hoodies"),'subclass'] = 'Sweatshirts'
df.loc[df['prod_name'].str.contains("Vests"),'subclass'] = 'Vests'
df.loc[df['prod_name'].str.contains("Shorts"),'subclass'] = 'Shorts'
df.loc[df['prod_name'].str.contains("Crop"),'subclass'] = 'Crop'
df.loc[df['prod_name'].str.contains("Shirts"),'subclass'] = 'Shirts'
df.loc[df['prod_name'].str.contains("T-Shirt"),'subclass'] = 'T-Shirts'
df.loc[df['prod_name'].str.contains("Tank"),'subclass'] = 'Tank Tops'
df.loc[df['prod_name'].str.contains("Bomber"),'subclass'] = 'Bomber'
df.loc[df['prod_name'].str.contains("Gift Cards"),'subclass'] = 'Gift Cards'
df.loc[df['prod_name'].str.contains("Joggers"),'subclass'] = 'Joggers'
df.loc[df['prod_name'].str.contains("Mobile Covers"),'subclass'] = 'Mobile Covers'

In [59]:
print(df.subclass.value_counts())
print(df.subclass.value_counts().sum())

T-Shirts         19587
Mobile Covers     6670
Pyjamas           4083
Joggers           2569
Vests             2418
Sweatshirts       2209
Boxers            2140
Shorts            1282
Shirts             411
Tank Tops          333
Gift Cards          15
Bomber               9
Name: subclass, dtype: int64
41726

In [60]:
df.isnull().sum()

dummy          0
order_id       0
parent_id      0
user_id        0
price          0
quantity       0
product_id     0
size_id        0
category_id    0
cat_type       0
subtype        0
gender         0
subclass       0
prod_name      0
created_at     0
city           0
state          0
dtype: int64

In [61]:
df.shape

(41726, 17)

### Exporting Clean Dataset

In [62]:
df.to_csv('D:\data science analytics project\Crazy Monkey\crazy_monkey_clean.csv')